<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-img
        src="/assets/imagens/icon_IHM.png"
        class="circulo"
        alt="circulo"
      ></ion-img>
      <ion-card-title style="text-align: center">Lojas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-list-header> <h1>Dados das Nossas Lojas</h1> </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="map" color="tertiary"></ion-icon>
      <ion-label>
        <h2>R. Do Aveiro 156, Viana Do Castelo</h2>
        <h2>Semana:</h2>
        <h3>Aberto - 10:00 -- 21:00</h3>
        <h2>Fim de Semana:</h2>
        <h3>Aberto - 10:10 -- 17:00</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="map" color="tertiary"></ion-icon>
      <ion-label>
        <h2>R. Dos Congregados 23, Braga</h2>
        <h2>Semana:</h2>
        <h3>Aberto - 10:00 -- 21:00</h3>
        <h2>Fim de Semana:</h2>
        <h3>Aberto - 10:10 -- 17:00</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="map" color="tertiary"></ion-icon>
      <ion-label>
        <h2>R. De Passos Manuel 221, Porto</h2>
        <h2>Semana:</h2>
        <h3>Aberto - 10:00 -- 21:00</h3>
        <h2>Fim de Semana:</h2>
        <h3>Aberto - 10:10 -- 17:00</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
