<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-img
        src="/assets/imagens/icon_IHM.png"
        class="circulo"
        alt="circulo"
      ></ion-img>
      <ion-card-title style="text-align: center">Definições</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-label><h1>Cookies</h1></ion-label>
      <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label><h1>Cookies</h1></ion-label>
      <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label><h1>Cookies</h1></ion-label>
      <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label><h1>Cookies</h1></ion-label>
      <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label><h1>Cookies</h1></ion-label>
      <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
    </ion-item>

    <ion-card color="tertiary" routerLink="/login" routerDirection="forward">
      <ion-card-header>
        <h1>Logout</h1>
      </ion-card-header>
      <ion-card-content> </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
