<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-img
        src="/assets/imagens/icon_IHM.png"
        class="circulo"
        alt="circulo"
      ></ion-img>
      <ion-card-title style="text-align: center">Lista</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
      <ion-label><h1>Batata</h1></ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
      <ion-label><h1>Atum</h1></ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
      <ion-label><h1>Massa</h1></ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
      <ion-label><h1>Queijo</h1></ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
      <ion-label><h1>Fiambre</h1></ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
      <ion-label><h1>Arroz</h1></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
