<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-img
        src="/assets/imagens/icon_IHM.png"
        class="circulo"
        alt="circulo"
      ></ion-img>
      <ion-card-title style="text-align: center">FAQ</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-icon slot="start" size="large" name="help-circle" color="tertiary"></ion-icon>
      <ion-label text-wrap>
        <h1>Como posso alterar os meus dados pessoais?</h1>
        <h2>Sim! Acedendo ao seu Perfil, irá encontrar lá os seus dados e poderá alterar os mesmos</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" size="large" name="help-circle" color="tertiary"></ion-icon>
      <ion-label text-wrap>
        <h1>Como posso alterar os meus dados pessoais?</h1>
        <h2>Sim! Acedendo ao seu Perfil, irá encontrar lá os seus dados e poderá alterar os mesmos</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" size="large" name="help-circle" color="tertiary"></ion-icon>
      <ion-label text-wrap>
        <h1>Como posso alterar os meus dados pessoais?</h1>
        <h2>Sim! Acedendo ao seu Perfil, irá encontrar lá os seus dados e poderá alterar os mesmos</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" size="large" name="help-circle" color="tertiary"></ion-icon>
      <ion-label text-wrap>
        <h1>Como posso alterar os meus dados pessoais?</h1>
        <h2>Sim! Acedendo ao seu Perfil, irá encontrar lá os seus dados e poderá alterar os mesmos</h2>
      </ion-label>
    </ion-item>

  
  </ion-list>
</ion-content>