<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/paginaprincipal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-img
        src="/assets/imagens/icon_IHM.png"
        class="circulo"
        alt="circulo"
      ></ion-img>
      <ion-card-title style="text-align: center">Profile</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-list-header> <h1>Dados Pessoais</h1> </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="person" color="tertiary"></ion-icon>
      <ion-label>
        <h2>Nome</h2>
        <h3>Nome utilizador</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed" color="tertiary"></ion-icon>
      <ion-label>
        <h2>PassWord</h2>
        <h3>Password</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
